@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}


img{
    width: 100%;
}

html{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

article{
   text-align: start;
   margin-bottom: 10px;
   position: relative;
}


h3{
   margin: 15px;
   font-size: 24px;
}

footer{
   padding: 15px;
   text-align: center;
}
.copyright{
   padding-top: 10px;
}
footer i{
   color: var(--celeste);
   font-size: 20px;
}  

.main{
  text-align: center;
  width: 90%;
  margin: auto;
}
.footer-items div{
   margin-bottom: 10px;
}
.footer-items div:hover i{
   color: red;
   }
.footer-items div i {
   transition: all 450ms;
}
.icono-camion{
   display: block;
   font-size: 16px;
   padding: 5px;
   width: 30px;
   height: 30px;
   border: 1px solid #39b54a;
   background-color: #FFF;
   border-radius: 50%;
   position: absolute;
   right: 20px;
   top: -15px;
   color: var(--verde);
   }

.main-header{
       background-color: var(--amarillo);
       padding-bottom: 15px;
    }

.logo, .buscador{
   width: 50%;
}
.buscador{
   display: flex;
   justify-content: center;
   align-items: center;
}
.buscador input{
   max-width: 80%;
   border: none;
   border-radius: 5px;
   height: 32px;
   padding-left: 5px;
}
.buscador input:focus{
   outline: none;
}
.buscador button{
   border: none;
   height: 32px;
   background-color: white;
   border-radius: 5px;
   margin-left: -9px;
   padding-right: 5px;
}
.main-header-top-nav{
   display: flex;
   flex-wrap: wrap;
}
.header-title{
   font-size: 15px;
   font-weight: 400;
   margin: 5px 0px;
   text-align: center;
   color: #222222;
}
.precio{
      font-size: 18px;
 }
 .descuento{
    font-size: 16px;
    color: var(--verde);
    padding-left: 5px;
 }

 .descripcion{
    display: none;
 }

 .burger-menu{
   background-color: var(--celeste);
   color: var(--gris-claro);
   font-size: 18px;
   display: block;
   max-width: 50px;
   padding: 15px 0;
   border-radius: 8px;
   margin: auto;
   text-align: center;
 }
.main-navbar{
   display: none;
   margin-top: 15px;
}
 .main-navbar a{
   text-decoration: none;
   color: var(--gris-oscuro);
   padding: 5px 0;
   font-size: 8px;
 }
 .main-navbar ul{
   display: flex;
   list-style: none;
   width: 50%;
 }
 .left-navbar{
   justify-content: flex-start;
 }
 .right-navbar{
   justify-content: flex-end;
 }
 .precio-flex{
   width: 100%;
   display: flex;
 }
 .precio-flex .precio{
   flex-grow: 0.3; 
 }
 .precio-flex .descuento{
   flex-grow: 0.7;
 }
 .texto-articulo{
   border-top: var(--gris-claro) solid 1px;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   padding: 10px 5px;
}
.productos{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
}

.control-form{
   margin-bottom: 15px;
}

.control-form label{
   margin-bottom: 5px;
   font-style: italic;
   display: block;
}

.control{
   width: 100%;
   padding: 8px;
}
.button-form{
   background-color: var(--verde);
   border: none;
   font-size: 20px;
   color: white;
   padding: 5px 10px;
   border-radius: 5px;
}

.register-form{
   padding: 10px 0px;
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: var(--gris-claro);
}
.form-unit{
   width: 100%;
   padding: 15px 5px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   max-width: 700px;
}

.input{
   padding: 8px;
   border: none;
   border-radius: 4px;
   width: 95%;
   height: 25px;
}

.input:invalid:required{
   outline: 1px solid red;
}

.checkbox{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   font-size: 16px;
}

.checkbox input{
   margin: 8px;
}

.radio{
   margin-top: 10px;
   width: 70%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}
.radio label{
   margin-right: 15px;
}

.unit-label{
   font-size: 16px;
   font-weight: bold;
   padding-bottom: 5px;
}
.form-buttons{
   width: 90%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.register-button{
   font-size: 18px;
   border: none;
   margin: 20px auto;
   background-color: var(--celeste);
   color: var(--gris-claro);
   border-radius: 5px;
   height: 30px;
   width: 45%;
}
.login-button{
   font-size: 18px;
   border: none;
   margin: 20px 0px;
   background-color: var(--celeste);
   color: var(--gris-claro);
   border-radius: 5px;
   height: 30px;
   width: 95%;
   max-width: 700px;
   transition: all 450ms;
}
.login-button:hover{
   background-color: #0022AA;
}

 @media (min-width: 361px) {
  
   article{
      margin: 10px;
      width: 42%;
   }
   
   .main-header{
      padding: 8px;
   }
  
   .main-navbar{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   .main-navbar ul{
      display: flex;
   }
   .main-navbar ul li{
      margin: 2px;
   }

   .burger-menu{
      display: none;
   }
   .main-header-top-nav{
      display: flex;
      align-items: center;
   }
   .header-title{
      font-size: 6px;
      text-align: left;
   }
   .logo, .buscador, .header-title{
      width: 33.33%;
   }
   .texto-articulo{
      padding-top: 15px;
   }
   .precio{
      font-size: 16px;
   } 
   .descuento{
      font-size: 14px;
   }
   .descripcion{
      font-size: 14px;
   }
 }

 @media (min-width: 769px) {
   .footer-items{
      padding: 20px 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;
   }
   section{
      height: 405px;
   }
   .footer-items div{
      width: 30%;
   }
   .footer-items div i{
      padding-bottom: 8px;
      transition: all 450ms;
   }
  
   .footer-items div p{
      font-size: 11px;
   }

   footer .copyright{
      text-align: start;
   }
  
   main{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }
   article{
      transition: all 450ms;
   }
   article:hover{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   article:hover .descripcion{
      display: block;
      font-size: 16px;
      margin-top: 10px;
   }
   article:hover .icono-camion{
      transform: rotate(-90deg);
   }
   .icono-camion{
      transition: all 450ms;
   }
   article{
      width: 22%;
      transition: all 400ms;
   }
   .main-navbar ul li{
      margin: 5px;
   }
   .main-navbar a{
      font-size: 16px;
   }
   .main-header{
      padding: 10px 5px;
   }
   .main-header-top-nav, .main-navbar{
      max-width: 900px;
      margin: auto;
   }
   .main-header-top-nav{
      align-items: center;
   }
   .main-navbar{
      margin-top: 40px;
   }
   .header-title{
      font-size: 13px;
   }
}


 