@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
   margin: 0px;
   box-sizing: border-box;
}
:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

img{
    width: 100%;
}

html{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
 header{
    background-color: var(--amarillo);
 }
 ul{
   display: none;
 }

 main{
   text-align: center;
   width: 90%;
 }

article{
   padding: 10px;
   margin-bottom: 10px;
 }
 article div{
   border-top: soid 1px #ebebeb;
   margin: 15px;
 }
 article div div {
   position: relative;
   margin: auto;
   padding: 5px;
   width: 20px;
   height: 20px;
   color: var(--verde);
   border: solid 1px var(--verde);
   border-radius: 100%;
 }

 h3{
   margin: 15px;
    font-size: 24px;
 }

 footer{
    text-align: center;
 }
  footer i{
    color: var(--celeste);
    font-size: 10ex;
  }

 .precio{
    font-size: 18px;
 }
 .descuento{
    font-size: 16px;
    color: var(--verde);
 }

 .descripcion{
    display: none;
 }

 .burger-menu{
    text-align: center;
 }

 .burger-menu i{
    color: var(--gris-claro);
    background-color: var(--celeste);
    font-size: 30px;
    padding: 5px;
    border-radius: 10%;
    margin: 15px;
 }

 @media (min-width: 361px) {
   article{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
   }
   .descripcion{
      display: block;
      font-size: 16px;
      margin-top: 10px;
   }
   ul{
      display: block;
   }
   .burger-menu{
      display: none;
   }
 }

 @media (min-width: 769px) {


}


 